<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- API calls should not be redirected to index.html -->
        <rule name="API Rewrite" stopProcessing="true">
          <match url="^api/.*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="None" />
        </rule>
        <!-- React routes should be handled by the index.html -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
