<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule for API routing -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:5000/api/{R:1}" />
        </rule>

        <!-- Rule for serving static assets like images -->
        <rule name="Image Routes" stopProcessing="true">
          <match url="^Images/(.*)" />
          <action type="Rewrite" url="http://localhost:5000/Images/{R:1}" />
        </rule>

        <rule name="Plant Image Routes" stopProcessing="true">
          <match url="^PlantImages/(.*)" />
          <action type="Rewrite" url="http://localhost:5000/PlantImages/{R:1}" />
        </rule>

        <!-- Rule for React Frontend Routing -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
